<%= render 'shared/page_title', title: @picture.name %>
<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Steps: </strong></h4>
  <hr />
  <%= simple_format(@picture.description) %>
  <hr />
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@picture.user), pictures_path %>
    </p>
    <p class="center">
      <small><%= @picture.user.username.capitalize %></small>
      <div class="pull-right"><%= time_ago_in_words(@picture.created_at) %> ago</div>
    </p>
  </div>
</div>
